.mainWrapper {
  display: flex; }

.modalWrapper {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 27.5rem;
  height: 100vh;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2); }
  .modalWrapperLeftSide {
    left: 0; }
  .modalWrapperRightSide {
    right: 0; }

.modalHeaderWrapper {
  position: relative;
  display: flex;
  align-items: center; }

.modalHeaderText {
  font-size: 24px;
  font-weight: bold; }

.modalContentWrapper {
  margin: 2rem; }

.modalContent {
  display: flex;
  flex-direction: column; }
  .modalContentInputsItemStandart {
    width: 23.5rem;
    min-height: 3rem;
    padding-left: 1rem;
    border: 1px solid #EAEAEA;
    border-radius: 6px; }
    .modalContentInputsItemStandart:focus {
      outline: 1px solid #FF3E79; }
    .modalContentInputsItemStandart:first-child {
      margin-top: 1.5rem; }
    .modalContentInputsItemStandart:not(.modalContentInputsItemStandart:first-child) {
      margin-top: 1rem; }
  .modalContentInputsItemBigHeight {
    padding-top: 0.75rem;
    min-height: 7.375rem;
    resize: none; }

.informationText {
  font-size: 14px;
  color: #7E7E82; }

.informationLink {
  text-decoration: none;
  color: #FF3E79; }
  .informationLink:hover {
    text-decoration: underline; }

.modalFooter {
  margin-top: 1rem; }

.modalButton {
  min-width: 8.5rem; }

.modalFormButtons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1.5rem; }

.indicator {
  background: #41F6D7;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px; }
  .indicatorHidden {
    display: none; }

.card {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  background: #FFFFFF; }
  .cardCompany {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .cardAppliance {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%; }
    .cardApplianceIconWrapper {
      display: flex;
      align-items: flex-end; }

.cardsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.chapterWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.125rem; }

.chapterHeader {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 3.5rem;
  margin-bottom: 1.5rem;
  padding: 0 2rem;
  color: #7E7E82;
  border-top: 1px solid #D9FFF5;
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%); }

.chapterContent {
  margin: 0 2rem; }

.iconButton {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background: #FFFFFF;
  cursor: pointer; }

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

.buttonContent {
  display: flex;
  justify-content: space-between; }

.redButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #FFFFFF;
  border: none;
  background: #FF3E79;
  cursor: pointer;
  transition: 0.4s; }
  .redButtonModal {
    width: 8.5rem;
    min-height: 2rem; }
  .redButtonRadius16 {
    border-radius: 1rem; }

.noneBackgroundButton {
  border: none;
  background: none;
  cursor: pointer; }

.buttonText {
  display: flex;
  align-items: center; }
  .buttonTextLeft {
    margin-right: 0.5rem; }
  .buttonTextRight {
    margin-left: 1rem; }

.sidebarWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20rem;
  min-width: 20rem;
  min-height: 200vh;
  padding: 0 1.5rem;
  box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2); }

.pagesListWrapper {
  display: flex;
  flex-direction: column; }

.pageItem {
  display: flex;
  align-items: center;
  min-height: max-content;
  margin-top: 2rem;
  color: #1B1C21;
  text-decoration: none;
  cursor: pointer; }
  .pageItemActive {
    color: #7E7E82; }

.iconButtonsList {
  display: flex; }
  .iconButtonsList button:not(.iconButtonsList button:last-child) {
    margin-right: 1rem; }

.languagesList {
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 1rem; }

.language {
  cursor: pointer; }
  .language:not(.language:last-child) {
    margin-right: 0.5rem; }
  .languageActive {
    color: #7E7E82; }

.contactsWrapper {
  display: flex;
  flex-direction: column; }

.contactItem {
  margin-top: 1rem;
  cursor: pointer; }
  .contactItemPhone {
    font-size: 24px;
    font-weight: bold; }
  .contactItem:hover {
    text-decoration: underline; }

.sidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: max-content;
  margin-top: 1.5rem; }

.sidebarFooter {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column; }

/*# sourceMappingURL=MainStyles.module.css.map */
